:root{
    --purple:rgb(137, 59, 216);
    --white:white;
}
nav.rebeccapurple{
    background-color: rebeccapurple ;
}
.img-responsive{
    height: 100vh!important;
    position: relative;
    opacity: .5;
}
.carousel-caption{
    position: absolute;
    top:30%;
    left:30px;
    text-align: left;
    bottom:50%;
}
.caption-text{
    font-size: 2.5rem;
    color: var(--purple);
    font-weight: bolder;
}
.caption-sub-text{
    font-size: 1.4rem;
    color: rgb(121, 44, 197);
    font-weight: 300;
}
.surprise-meal-bg{
    background-color: rgb(33, 110, 30);
    color:var(--white);
}