<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alimento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="ach_home_style.css" />
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark rebeccapurple">
        <div class="container-fluid">

            <div class="navbar-brand">
                <a class="navbar-brand" href="#">Alimento</a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-row mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">ContactUs</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <!-- Carousel -->
    <div class="carousel-ht">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../bread-photo.jpg" class="d-block w-100 img-responsive" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="caption-text">First slide label</h5>
                        <p class="caption-sub-text">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../rice-photo.jpg" class="d-block w-100 img-responsive" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="caption-text">Second slide label</h5>
                        <p class="caption-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../flowerdish-photo.jpg" class="d-block w-100 fixed-ht img-responsive" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="caption-text">Third slide label</h5>
                        <p class="caption-sub-text">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>

    <!--Order-Bar -->
    <div class="container-fluid surprise-meal-bg">
        <div class="pt-4">
            <div class="row text-center">
                <h3>!!! Check out our today's surprise meal !!!</h3>
            </div>
            <form class="row mt-3 mb-5 p-4">
                <div class="col">
                    <input type="text" class="form-control" placeholder="City" aria-label="City">
                </div>
                <div class="col">
                    <label class="visually-hidden" for="autoSizingInput">Name</label>
                    <input type="text" class="form-control" id="autoSizingInput" placeholder="Jane Doe">
                </div>
                <div class="col">
                    <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                    <div class="input-group">
                        <div class="input-group-text">@</div>
                        <input type="email" class="form-control" id="autoSizingInputGroup" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-warning col-3">Order Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <script>
        function changeSlide() {
            let nextBtn = document.querySelector('a.carousel-control-next');
            setInterval(() => {
                nextBtn.click();
                console.log('abc')
            }, 5000)
        }
        changeSlide();
    </script>

</body>

</html>